.form-section__body {
  background: #fff;
  box-shadow: 0 4px 8px rgba(160, 160, 160, 0.2);
  box-sizing: border-box;
}

.form-section__body {
  display: flex;
  align-items: center;
  justify-content: center;
}
