.login-window {
  background: #fff;
  box-shadow: 0 4px 8px rgba(160, 160, 160, 0.2);
  width: 320px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
}

.login-window__heading {
  margin-bottom: 40px;
}
