.main-page {
  display: flex;
  flex-direction: column;
}

.main-page__header {
  flex: 0 0 auto;
}

.main-page__body {
  flex: 1 0 auto;
  margin: 0 auto;
  padding: 4vh 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-page__section {
  width: 44vw;
}

@media only screen and (max-width: 720px) {
  .main-page__body {
    flex-direction: column-reverse;
    align-items: center;
  }

  .main-page__section {
    width: 92vw;
  }

  .main-page__form-section {
    margin-bottom: 80px;
  }
}
