.button {
  border: none;
  border-radius: 4px;
  background: #5582e2;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  width: 128px;
  height: 34px;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 100ms ease-in;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 6px 0 #5582e2;
}

.button:hover {
  background: #7296e4;
}

.button:active {
  background: #4b72c5;
}

.button_accent {
  background: #fff;
  color: #5582e2;
  border: 2px solid #5582e2;
}

.button_accent:hover {
  background: #f0f0f0;
}

.button_accent:active {
  opacity: none;
}

.button_fetching {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.button_fetching:hover,
.button_fetching:active {
  background: #5582e2;
}

.button:disabled {
  background: #838383;
  cursor: default;
}

.button__loader {
  animation: button-fetching 2s linear infinite forwards;
}

@keyframes button-fetching {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
